body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

#taskForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button[type="submit"],
.save-btn,
.close-btn,
.login-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover,
.save-btn:hover,
.close-btn:hover,
.login-btn:hover {
  background-color: #0056b3;
}

#tasks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Set number of columns */
  gap: 10px; /* Gap between grid items */
  margin-top: 20px;
}

.task {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.task .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.task h3 {
  margin: 0 0 10px 0;
}

.show-history-btn,
.edit-task-btn,
.delete-task-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-history-btn {
  background-color: #17a2b8;
  color: #fff;
  margin: 0 5px;
}

.show-history-btn:hover {
  background-color: #138496;
}

.edit-task-btn {
  background-color: #007bff;
  color: #fff;
  margin: 0 5px;
}

.edit-task-btn:hover {
  background-color: #0056b3;
}

.delete-task-btn {
  background-color: #dc3545;
  color: #fff;
  margin: 0 5px;
}

.delete-task-btn:hover {
  background-color: #c82333;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.edit-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-panel input,
.edit-panel select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
}

.save-btn,
.close-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.save-btn:hover,
.close-btn:hover {
  background-color: #0056b3;
}

#load-more-assigned-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

#load-more-assigned-btn:hover {
  background-color: #0056b3;
}

#load-more-unassigned-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

#load-more-unassigned-btn:hover {
  background-color: #0056b3;
}

.menu-option {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.menu-option:hover {
  background-color: #0056b3;
}

.add-task-btn {
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task-btn:hover {
  background-color: #0056b3;
}

.refresh-window-btn {
  position: fixed;
  top: 150px;
  right: 20px;
  padding: 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.refresh-window-btn:hover {
  background-color: #0056b3;
}

#login-container {
  display: block;
}

#content-container {
  display: none;
}

.logout-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: #d32f2f;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.confirm-btn,
.cancel-btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn {
  background: #f44336;
  color: white;
}

.cancel-btn {
  background: #ccc;
  color: black;
}

.history {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 80%;
  height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}


#unassigned-tasks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Set number of columns */
  gap: 10px; /* Gap between grid items */
  margin-top: 20px;
}

.unassigned-task {
  background-color: #e0e0e0; /* light gray color */
}
